---
import { getEntry } from 'astro:content';
import Layout from '../../layout/layout.astro';
import Image from 'astro/components/Image.astro';
import Prose from '../../components/prose.astro';

const post = await getEntry('about', 'about'); 
const aboutHeading = "I am Anirban Sikdar, an undergraduate Computer Science Engineering(Artificial Intelligence & Machine Learning) Student. I have a keen interest in Image Processing, Robotics, Deep Space research and Astronomy. Building visualisations and interactive systems for the concepts been taught and watching them in action is the most fun part of building things."
const aboutDescription = " I have also gained experience in Raspberry Pi and also on various IOT platforms as Thingsboards and Adafruit IO. I have a Problem solving instinct where when i face one i don't usually tend to back-off easily 😉."
const { Content } = await post.render();


const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}');
if (!images[post.data.imagePath]) throw new Error(`"${post.data.imagePath}" does not exist in glob: "/images/*.{jpeg,jpg,png,gif}"`);
---

<Layout title="About"
  description={post.data.description}
  imagePath="https://gitlab.com/anirban-1009/anirban.codes/-/raw/main/public/images/SocialHero.jpg?ref_type=heads"
>
  <div class="lg:flex lg:px-24 lg:pt-20 lg:gap-12 lg:justify-between dark:text-primary">
    <!-- Desktop About Heading -->
    <p class="lg:hidden py-4 text-5xl font-semibold">{post.data.title}</p>
    <Image
      src={images[post.data.imagePath]()}
      alt="About Hero"
      height="356"
      width="356"
      class="rounded-full lg:hidden"
      loading="eager"
    />
    <div class="py-6 lg:text-lg">
      <!-- Mobile About Heading -->
      <p class="hidden lg:block py-4 text-5xl font-semibold">{post.data.title}</p>
        {aboutHeading}
        <br/><br/>
        {aboutDescription}
    </div>
    <Image
      src={images[post.data.imagePath]()}
      alt="About Hero"
      height="356"
      width="356"
      class="hidden lg:block rounded-full"
      loading="eager"
    />
  </div>
  <Prose>
    <div class="lg:w-dvw lg:px-52 lg:pb-12 lg:text-lg lg:text-pretty">
      <Content />
    </div>
  </Prose>
</Layout>